# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf



#ISO
*.iso
/Server/iso/bionicpup32-8.0-uefi.iso
/Server/iso/bionicpup64-8.0-uefi.iso

#BINs
/Server/bin/
/Client/bin/

#Cmake
/lib/MD5/CMakeFiles/
/lib/MD5/CMakeFiles/
/lib/MD5/cmake_install.cmake
/lib/MD5/libMD5.a
/lib/MD5/Makefile
/lib/MD5/
/lib/MessageQueue/CMakeFiles/
/lib/MessageQueue/cmake_install.cmake
/lib/MessageQueue/libMessageQueue.a
/lib/MessageQueue/Makefile
/lib/Auth_DB/Makefile